<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Doctor Bookings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Doctor Bookings</h1>

	<table cellspacing="1" cellpadding="5" border="1">
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Appointment Type</th>
			<th>Doctor</th>
			<th>Date</th>
			<th>Time</th>
			<th>Visit</th>
			<th>Message</th>
			<th>Reference</th>
			<th>Status</th>
			<th>Action</th>
		</tr>

	<% data.forEach(function(doctorbooking){ %>
		<tr>
			<td><%= doctorbooking.name %></td>
			<td><%= doctorbooking.phone %></td>
			<td><%= doctorbooking.email %></td>
			<td><%= doctorbooking.appointment %></td>
			<td><%= doctorbooking.room %></td>
			<td><%= doctorbooking.date %></td>
			<td><%= doctorbooking.time %></td>
			<td><%= doctorbooking.visit %></td>
			<td><%= doctorbooking.message %></td>
			<td><%= doctorbooking.ref %></td>
			<td><%= doctorbooking.status %></td>
			<td><a href="updatedoctorbooking/<%= doctorbooking.doc_id %>">Edit</a>  | <a href="">Delete</a> </td>
		</tr>
	<% }); %>

	</table>

</body>
</html>